<div class="quickstart">
  <div class="quickstart__bg">
    <div class="quickstart__container">
      <h1>Let's build a page</h1>

      <div class="step step--active">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Create a space and a story</h2>
          <p>
            A space contains multiple stories (content entries) and a story is a <strong>page</strong> or <strong>content entry</strong> which contains components.
          </p>
        </div>
        <div class="step__last">
          <img src="//a.storyblok.com/f/40479/7a07f54a99/space.svg">
        </div>
      </div>

      <div class="step{% if story.content.body != blank %} step--active{% endif %}">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Create a component and define its structure</h2>
          <p>
            Start the tour clicking "Add component" in the sidebar to beginn building your page.
          </p>
        </div>
        <div class="step__last">
          <img src="//a.storyblok.com/f/40479/9de132979f/story.svg">
        </div>
      </div>

      <div class="step{% if story.content.body != blank %} step--active{% endif %}">
        <div class="step__number"><span></span></div>
        <div class="step__text">
          <h2>Fetch and render the content</h2>

          <p>You can choose the Storyblok hosted rendering service or call the API from your favourite language to get the created content.</p>

          <div class="quickstart__langc">
            <a class="quickstart__lang quickstart__lang--active" data-lang="storyblok">
              <img src="https://a.storyblok.com/f/40479/52dd4927ef/storyblok_circle.svg" height="33">
              <span>Storyblok</span>
            </a>
            <a class="quickstart__lang" data-lang="ruby">
              <img src="https://a.storyblok.com/f/40479/5b972f6821/ruby.svg" height="33">
              <span>Ruby</span>
            </a>
            <a class="quickstart__lang" data-lang="javascript">
              <img src="https://a.storyblok.com/f/40479/9a6bef0cd2/javascript.svg" height="33">
              <span>JavaScript</span>
            </a>
            <a class="quickstart__lang" data-lang="nodejs">
              <img src="https://a.storyblok.com/f/40479/600c85c25b/node.svg" height="33">
              <span>Node.js</span>
            </a>
            <a class="quickstart__lang" data-lang="php">
              <img src="https://a.storyblok.com/f/40479/dac5c0bb11/php.svg" height="33">
              <span>PHP</span>
            </a>
            <a class="quickstart__lang" data-lang="python">
              <img src="https://a.storyblok.com/f/40479/71495561c6/python.svg" height="33">
              <span>Python</span>
            </a>
          </div>

          <div class="quickstart__t quickstart__t--active" data-tab="storyblok">
            <pre><code>{%- raw -%}<span># Get the content of the current page</span>
{{ story.content }}

<span># Get multiple content entries from a folder called "news"</span>
{% set newsitems from stories starts_with:'news', per_page: 3 %}
{% for news in newsitems.data %}
    {{ news }}
{% endfor %}

<span># Open the file views/page.liquid and try it out</span>
<span># More on <a target="_blank" href="https://www.storyblok.com/docs/Rendering-Service/Theme-Documentation">theme documentation</a></span>
{% endraw %}</code></pre>
          </div>

          <div class="quickstart__t" data-tab="ruby">
            <pre><code>{%- raw -%}client = new Storyblok::Client(token: 'YOUR_PRIVATE_ACCESS_TOKEN')

<span># Get the content of the current page</span>
p client.story('home')

<span># Get multiple content entries from a folder called "news"</span>
p client.stories({
  :starts_with => 'news'
})

<span># More on <a target="_blank" href="https://github.com/storyblok/storyblok-ruby">Github</a></span>{% endraw %}</code></pre>
          </div>

          <div class="quickstart__t" data-tab="javascript">
            <pre><code>{%- raw -%}&lt;script src="//app.storyblok.com/f/storyblok-latest.js"&gt;&lt;/script&gt;
&lt;script&gt;
  storyblok.init({
    accessToken: 'YOUR_PRIVATE_ACCESS_TOKEN'
  })

  <span>&lt;!-- Get the content of the current page --&gt;</span>
  storyblok.get({slug: 'home', version: 'draft'}, function(data) {
    console.log(data.story)
  })

  <span>&lt;!-- Get multiple content entries from a folder called "news" --&gt;</span>
  storyblok.getAll({starts_with: 'story', version: 'draft'}, function(data) {
    console.log(data.stories)
  })
&lt;/script&gt;{% endraw %}

<span># More on <a target="_blank" href="https://www.storyblok.com/tp/add-a-headless-CMS-to-vuejs-in-5-minutes">our Blog</a></span></code></pre>
          </div>

          <div class="quickstart__t" data-tab="nodejs">
            <pre><code>{%- raw -%}var StoryblokClient = require('storyblok-node-client');

var Storyblok = new StoryblokClient({
  privateToken: 'YOUR_PRIVATE_ACCESS_TOKEN'
});

<span>// Get the content of the current page</span>
Storyblok
  .get('stories/home', {
    version: 'draft'
  })
  .then((response) => {
    console.log(response);
  });

<span>// Get multiple content entries from a folder called "news"</span>
Storyblok
  .get('stories', {
    starts_with: 'news'
    version: 'draft'
  })
  .then((response) => {
    console.log(response);
  });
{% endraw %}

<span># More on <a target="_blank" href="https://github.com/storyblok/storyblok-node-client">Github</a></span></code></pre>
          </div>

          <div class="quickstart__t" data-tab="php">
            <pre><code>{%- raw -%}require 'vendor/autoload.php';

$client = new \Storyblok\Client('YOUR_PRIVATE_ACCESS_TOKEN');

<span>// Get the content of the current page</span>
$client->getStoryBySlug('home');
$data = $client->getBody();

<span>// Get multiple content entries from a folder called "news"</span>
$client->getStories(
  array(
    'starts_with' => 'news'
  )
);
$data = $client->getStoryContent();{% endraw %}

<span># More on <a target="_blank" href="https://github.com/storyblok/php-client">Github</a></span></code></pre>
          </div>

          <div class="quickstart__t" data-tab="python">
            <pre><code>{%- raw -%}import http.client

conn = http.client.HTTPSConnection("api.storyblok.com")

<span>// Get the content of the current page</span>
conn.request("GET", "/v1/cdn/stories/home?token=YOUR_PRIVATE_ACCESS_TOKEN")

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8")){% endraw %}</code></pre>
          </div>

        </div>
      </div>

      <div class="quickstart__hint">
        Hint: Remove {% raw %}{% include 'quickstart' %}{% endraw %} from page.liquid to remove the quickstart instructions.
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var qs = document.querySelectorAll('.quickstart__lang')

  for (var i = 0; i < qs.length; i++) {
    qs[i].addEventListener('click', function() {
      var qtabs = document.querySelectorAll('.quickstart__t')
      for (var j = 0; j < qtabs.length; j++) {
        qtabs[j].style.display = 'none'
      }

      for (var x = 0; x < qs.length; x++) {
        qs[x].classList = 'quickstart__lang'
      }

      this.classList = 'quickstart__lang quickstart__lang--active'
      document.querySelector('[data-tab='+this.getAttribute('data-lang')+']').style.display = 'block'
    })
  }
</script>
