<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Site - {{ story.name }}</title>

  {%- include 'advanced_meta_tags' -%}

  {% if proxy_mode %}
    <link href="{{ 'assets/css/above.css' | asset_url }}" rel="stylesheet">
  {% else %}
    <style>{%- include 'above_fold_css' -%}</style>
  {% endif %}

  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600" rel="stylesheet">
  <link rel="preload" id="stylesheet" href="{{ 'assets/css/below.css' | asset_url }}" as="style" onload="this.rel='stylesheet'">
</head>
<body>
  {% spaceless %}

  {% include 'icon' %}

  <a class="u__vis-hidden" href="#main">Skip to main content</a>

  <header class="header">
    <div class="container header__container">
      <div class="header__logo">
        <svg class="icon"><use xlink:href="#icon-logo"></use></svg>
        Quickstart
      </div>

      <nav class="header__nav" role="navigation">
        <ul class="navbar">
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="main" role="main">
    {% include story.content.component with blok: story.content, title: story.name, date: story.created_at %}
    {% include 'quickstart' %}
  </main>

  <footer>
    <!-- Footer -->
  </footer>

  {% endspaceless %}

  {% if story.content._editable %}
    <script type="text/javascript" src="//app.storyblok.com/storyblok-latest.js"></script>
    <script type="text/javascript">

      storyblok.init({
        accessToken: '{{ public_token }}'
      });

      storyblok.on('change', function() {
        location.reload(true);
      });

      storyblok.pingEditor(function() {
        if (storyblok.inEditor) {
          storyblok.enterEditmode();
        }
      });

    </script>
  {% endif %}
</body>
