.header {
  padding: 30px 20px;
  position: relative;
  z-index: 1;
  color: #FFF;
  background: #29abe2;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  font-size: 2rem;

  svg {
    vertical-align: middle;
    font-size: 3rem;
  }
}

.header__nav {
  margin-left: auto;

  a {
    color: #FFF;
  }
}
